.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.rowAvailabilityUsed{
  background-color: crimson;
  align-items: center;
  text-decoration-color: aliceblue;
  text-align: center;
}
.rowAvailabilityFree{
  background-color: #10dc60;
  align-items: center;
  text-decoration-color: aliceblue;
  text-align: center;
}

.parkingRow{
  margin-left: 14%;
  margin-top: 5%
}